In [4]:
import pandas as pd

dic = {
    'data' : ['15/072002', '27/08/2011'],
    'name': ['Victor Francisco de Souza Coelho', 'Thiago de Souza Coelho']
}

df = pd.DataFrame(dic)

display(df)

         data                              name
0   15/072002  Victor Francisco de Souza Coelho
1  27/08/2011            Thiago de Souza Coelho

In [17]:
df['data'] = pd.to_datetime(df['data'], format='%d%m%y', errors='coerce')
type(df['data'])

pandas.core.series.Series

In [21]:
for _,rows in df.iterrows(): 
    print('-----------------')
    display(rows[1])

-----------------

'Victor Francisco de Souza Coelho'

-----------------

'Thiago de Souza Coelho'

In [23]:
class Math:
    def __init__(self) -> None:
        self.varia = self.num()
    def num(self):
        return '1'
obj = Math()
obj.varia

'1'